
.logoweb{
   color: #2196f3;
}
header a{
   color: #212121;
}
.banner{
   background-color: #2f303a;
   color: #ffffff;
}
.button{
   color: #ffffff;
   background-color: #2196F3;
}
.address{
   color: #FFFFFF;
}
.email{
   color: #FFFFFF60;
}
.background{
   background-color: #2F303A;
}
.nomer{
   color: #FFFFFF60;
}
.list-email{
   color: #2196F3
   ;
}
.list-tel{
   color: 
   #757575;
}
